:root {
    /* BRAND */
    --primary-100: #855300;
    --primary-200: #b97f33;
    --primary-300: #ffe090;

    /* ACCENT */
    --accent-100: #c0c0c0;
    --accent-200: #5a3800;

    /* TEXT */
    --text-100: #333333; /* text color */
    --text-200: #5c5c5c; /* muted text color */

    /* BACKGROUND */
    --bg-100: white; /* app background */
    --bg-200: #f7f7f7; /* card background */
    --bg-300: #ededed; /* border color */
}
