@import "tailwindcss";
@import "../config/colors.css";
@import "./tailwind.css";

@config "../tailwind.config.js";

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

#root {
    max-width: 1280px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

button {
    cursor: pointer;
}
